
<div class="col-md-12">

<h3>Da li ste sigurni da zelite da oobrisete limun sa id: {{id}} ?</h3>
<button type="submit" class="btn danger" (click)="obrisiLimun()">Da</button>
<button type="submit" class="btn btn-info" routerLink="/limuni">Ne</button>
</div>