<form>
    <div class="form-group">
        <label>Nutrition Value</label>
        <input type="number" class="form-control" placeholder="nutritionValue" name="nutritionValue" [(ngModel)]="limun.nutritionValue">
    </div>
    <div class="form-group">
        <label>Weight</label>
        <input type="text" class="form-control" placeholder="Weight" name="weight" [(ngModel)]="limun.weight">
    </div>
    <div class="form-group">
        <label>Color</label>
        <select class="form-control" name="color" [(ngModel)]="limun.color">
            <option value="" disabled>Selektuj boju</option>
            <option [ngValue]="boja.key" *ngFor="let boja of colors">{{boja.label}}</option>

        </select>
    </div>


    <button type="button" class="btn btn-default" (click)="dodajLimun()">Dodaj Limun</button>
</form>