
<input placeholder="search" [(ngModel)]="stasesrcuje"/>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>#</th>
            <th>Nutrition V</th>
            <th>Weight</th>
            <th>Color</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let limun of model.limuni | search:stasesrcuje">
            <td>
                <button type="button" class="btn btn-primary" (click)="otvoriLimun(limun.id)">Otvori</button>
            </td>
            <td>{{limun.id}}</td>
            <td>{{limun.nutritionValue}}</td>
            <td>{{limun.weight}}</td>
            <td>{{limun.color}}</td>
            <td>
                <button type="button" class="btn btn-success" (click)="editujLimun(limun.id)">Edituj</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" (click)="obrisiLimun(limun.id)">X</button>
            </td>
        </tr>
    </tbody>

</table>